<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874102702277-c6hffuhgq1o1dvks4g2sfg0iu9vepr9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874102702277-c6hffuhgq1o1dvks4g2sfg0iu9vepr9s</string>
	<key>API_KEY</key>
	<string>AIzaSyDxYweQK9kp-u3KFvfrbzjyZwGfyuu2W_8</string>
	<key>GCM_SENDER_ID</key>
	<string>874102702277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etamen</string>
	<key>PROJECT_ID</key>
	<string>etamen-a2b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>etamen-a2b4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874102702277:ios:1f7cde54dc6bf90c6030ac</string>
</dict>
</plist>